@tailwind base;
@tailwind components;
@tailwind utilities;

.background-gradient {
  background: radial-gradient(
    circle at top center,
    hsla(221, 4%, 100%, 0.05) 0%,
    hsla(221, 4%, 100%, 0.05) 50%,
    /* extra color stop */ hsla(222, 0%, 0%, 0.05) 100%
  );
}

@media (max-width: 768px) {
  .background-gradient {
    background: radial-gradient(
      circle at top center,
      hsla(221, 4%, 100%, 0.05) 0%,
      hsla(221, 4%, 100%, 0.06) 44%,
      hsla(221, 4%, 100%, 0.06) 70%,
      /* extra color stop */ hsla(222, 0%, 0%, 0.1) 100%
    );
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

h2,
p,
span {
  letter-spacing: 0%;
  line-height: 133%;
}

:root {
  --foreground-color: #3f2b24; /* Default: Black */
  --background-start-color: #eaeaea; /* background start color */
  --background-end-color: #eaeaea; /* background end color */
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--foreground-color);
  font-family: "Neue Montreal", sans-serif;
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-color)
    )
    var(--background-start-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.fade-up,
.slide-in-right,
.slide-in-left,
.slide-in-up,
.slide-in-down,
.grow-in {
  @apply transition-all duration-700 ease-in-out;
}

.expand-height,
.expand-width {
  @apply transition-all duration-500 ease-linear;
}
/* Fade-up animation for headings and paragraphs */
.fade-up {
  @apply translate-y-8 opacity-0;
}

.fade-up.is-inview {
  @apply translate-y-0 opacity-100;
}

/* Slide in from right animation */
.slide-in-right {
  @apply translate-x-8 opacity-0;
}

.slide-in-right.is-inview {
  @apply translate-x-0 opacity-100;
}

/* Slide in from left animation */
.slide-in-left {
  @apply -translate-x-8 opacity-0;
}

.slide-in-left.is-inview {
  @apply translate-x-0 opacity-100;
}

.slide-in-up {
  @apply translate-y-16 opacity-0;
}

.slide-in-up.is-inview {
  @apply translate-y-0 opacity-100;
}
.slide-in-down {
  @apply -translate-y-16 opacity-0;
}

.slide-in-down.is-inview {
  @apply -translate-y-0 opacity-100;
}

/* Grow animation (for images) */
.grow-in {
  @apply scale-75 opacity-0;
}

.grow-in.is-inview {
  @apply scale-100 opacity-100;
}

/* Width animation (0 to full width) */
.expand-width {
  @apply w-0 opacity-0;
  transition-property: width, opacity;
  transform-origin: "left";
}

.expand-width.is-inview {
  @apply w-full opacity-100;
}
.expand-height {
  @apply h-full;
  transition-property: height;
  transform-origin: bottom;
  /* -ms-transform-origin: top; */
  /* transform-origin: "top"; */
}

.expand-height.is-inview {
  @apply h-0;
}
